include README.rst
recursive-include docs *
recursive-include emencia/django/newsletter/locale *
recursive-include emencia/django/newsletter/media *
recursive-include emencia/django/newsletter/templates *.html
