{% extends "newsletter/base.html"%}
{% load i18n %}

{% block title %}{% trans "Unsubscription" %}{% endblock %}

{% block content %}
  <h2>{% trans "Unsubscription" %}</h2>
{% if already_unsubscribed %}
  <p>{% trans "You are unsubscribed for this mailing list." %}</p>
{% else %}
  <p>{% trans "Validate this form to unsubscribe to this mailing list." %}</p>
  <form action="." method="post">
    {% csrf_token %}
    <input type="text" value="{{ email }}" name="email" readonly />
    <input type="submit" value="{% trans "Unsubscribe" %}" />
  </form>
{% endif %}
{% endblock %}

