{% extends "newsletter/base.html"%}
{% load i18n %}

{% block title %}{% trans "Subscription" %}{% endblock %}

{% block content %}
<h2>{% trans "Subscription" %}</h2>

{% if form.errors %}
 {{ form.errors }}
{% endif %}

{% if subscribed %}
 <p>{% trans "Thanks for your sbscription!" %}</p>
{% else %}
 <p>{% trans "Validate this form to subscribe to the mailing lists." %}</p>
<form action="." method="post">
{{ form.as_p }}
<input type="submit" value="Subscribe" />
</form>
{% endif %}

{% endblock %}
