{% extends "admin/change_list.html" %}
{% load i18n %}

{% block bodyclass %}change-list stats{% endblock %}

{% block breadcrumbs %}
{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     <a href="../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo; 
     {{ title }}
</div>
{% endif %}
{% endblock %}

{% block content %}
<div id="content-main">
  <div class="module" id="changelist">
    <table cellspacing="0">
      <thead>
	<tr>
	  <th>{% trans "Date" %}</th>
	  <th>{% trans "Contact" %}</th>
	  <th>{% trans "Action" %}</th>
	</tr>
      </thead>
      <tbody>
	{% for stat in original.contactmailingstatus_set.all %}
	<tr class="{% cycle row1,row2 %}">
	  <td class="nowrap">{{ stat.creation_date|date:"d F Y, H:i" }}</td>
	  <td>{{ stat.contact.mail_format }}</td>
	  <td>{{ stat.get_status_display }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
