{% extends "admin/change_list.html" %}
{% load i18n %}

{% block bodyclass %}change-list historic{% endblock %}

{% block breadcrumbs %}
{% if not is_popup %}
<div class="breadcrumbs">
     <a href="{% url admin:index %}">{% trans "Admin." %}</a> &rsaquo;
     <a href="{% url admin:app_list "newsletter" %}">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     <a href="{% url admin:newsletter_newsletter_changelist %}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo; 
     {{ title }}
</div>
{% endif %}
{% endblock %}

{% block content %}
<div id="content-main">
  <div class="module" id="changelist">
    <table cellspacing="0">
      <thead>
	<tr>
	  <th>{% trans "Date" %}</th>
	  <th>{% trans "Contact" %}</th>
	  <th>{% trans "Action" %}</th>
	</tr>
      </thead>
      <tbody>
	{% for event in original.contactmailingstatus_set.all %}
	<tr class="{% cycle row1,row2 %}">
	  <td class="nowrap">{{ event.creation_date|date:"d F Y, H:i" }}</td>
	  <td>{{ event.contact.mail_format }}</td>
	  <td>{{ event.get_status_display }} {% if event.link %}{{ event.link.url|urlize }}{% endif %}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
